{% extends 'movieserial/base_site.html' %}
{% block content %}
    
    <div class="h-24"></div>
    <div class="container mx-auto px-3">
        <form action="" method="get" class="lg:flex justify-between">
            
            <p class="text-2xl my-4 text-center lg:m-0 font-bold">
                {% if page_name == 'movie-ganer' %} سینمایی: {% elif page_name == 'serial-ganer' %}سریال:‌ {% elif page_name == 'acotrs' %}بازیگران: {% endif %}
                {{ ganer.name }}
                {% if page_name == 'serial-ganer' %}({{ ganer.serial_set.count }}){% elif page_name == 'movie-ganer' %}({{ ganer.movie_set.count }}){% endif %}</p>
            {% if page_name in 'serial-ganer,movie-ganer' %}
            <div>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-y-7">
                    <div class="relative outline outline-2 p-1 w-fit rounded-lg outline-gray-500 mx-0 lg:mr-5">
                        <!-- <input type="text" name="" id="" class="px-2 py-2 bg-black rounded-lg"> -->
                        <label class="absolute bg-black -top-4 right-3 px-2">مرتب سازی</label>
                        <Select name="ordering" class="px-2 py-2 bg-black rounded-lg w-60">
                            <option value="newest">جدیدترین</option>
                            <option value="imdb_point">امتیاز IMDB</option>
                            <option value="release_year">سال انتشار</option>
                        </Select>
                    </div>
                    <div class="relative outline outline-2 p-1 w-fit rounded-lg outline-gray-500 mx-0 lg:mr-5">
                        <label class="absolute bg-black -top-4 right-3 px-2">امتیاز IMDB</label>
                        <!-- <input type="text" name="" id="" class="px-2 py-2 bg-black rounded-lg"> -->
                        <Select name="point" class="px-2 py-2 bg-black rounded-lg w-60">
                            <option value="all">همه</option>
                            <option value="9">بالای 9</option>
                            <option value="8">بالای 8</option>
                            <option value="7">بالای 7</option>
                            <option value="6">بالای 6</option>
                            <option value="5">بالای 5</option>
                            <option value="4">بالای 4</option>
                            <option value="3">بالای 3</option>
                        </Select>
                    </div>
                    {% if page_name not in 'serial-ganer,movie-ganer' %}
                    <div class="relative outline outline-2 p-1 w-fit rounded-lg outline-gray-500 mx-0 lg:mr-5">
                        <label class="absolute bg-black -top-4 right-3 px-2">ژانر</label>
                        <!-- <input type="text" name="" id="" class="px-2 py-2 bg-black rounded-lg"> -->
                        <Select name="ganer" id="ganer-list" class="px-2 py-2 bg-black rounded-lg w-60">
                            <option value="all">همه</option>
                        </Select>
                    </div>
                    {% endif %}
                    <div class="outline outline-2 inline-block p-1 w-fit rounded-lg outline-gray-500 mx-0 lg:mr-5">
                        <button class="px-2 py-2 inline-block w-fit bg-black rounded-lg">جست و حو</button>
                    </div>
                </div>
                <script>
                    
                    {% if page_name not in 'serial-ganer,' %}
                    const generList = [
                        {% for ganer in ganers %}
                        {name: '{{ ganer.name }}', slug: '{{ ganer.slug }}'},
                        {% endfor %}
                        {name: 'همه', slug: 'all'},
                    ]

                    const target = document.getElementById('ganer-list');
                    for (let i = 0; i<generList.length; i++){
                        target.innerHTML += '<option class="" value="SLUG">GENER</option>'.replace('SLUG', generList[i].slug).replace('GENER', generList[i].name)
                    }
                    {% endif %}
                </script>
            </div>
            {% endif %}
        </form>
        <div>
            
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-5 mt-4">
                {% if page_name == 'serial-ganer' %}
                    {% for object in objects %}
                        {% include 'components/media.html' with media=object media_type='serial' %}
                    {% empty %}
                        <p></p>
                        <p></p>
                        <p class="text-center p-3 rounded-lg ">هیچی پیدا نکردم</p>
                    {% endfor %}
                {% elif page_name == 'movie-ganer' %}
                    {% for object in objects %}
                        {% include 'components/media.html' with media=object media_type='movie' %}
                    {% endfor %}
                {% elif page_name == 'actors' %}
                    {% for actor in objects %}
                        {% include 'components/actor.html' with actor=actor %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <div id="pagination" class="flex mt-4 justify-center">
                <a id="first_page" href="" class="transition duration-300 px-3.5 py-2 rounded-lg bg-white/20 mx-1 hover:bg-amber-500">first</a>
                {% if objects.has_previous %}
                <a id="previous_page" href="" class="transition duration-300 px-3.5 py-2 rounded-lg bg-white/20 mx-1 hover:bg-amber-500">&lt;</a>
                {% endif %}
                <a id="current_page" class="transition duration-300 px-3.5 py-2 rounded-lg bg-amber-500 mx-1 hover:bg-amber-500">{{ objects.number }}</a>
                {% if objects.has_next %}
                <a id="next_page" href="" class="transition duration-300 px-3.5 py-2 rounded-lg bg-white/20 mx-1 hover:bg-amber-500">&gt;</a>
                {% endif %}
                <a id="last_page" href="" class="transition duration-300 px-3.5 py-2 rounded-lg bg-white/20 mx-1 hover:bg-amber-500">last</a>
            </div>
            
            <script>
                function updatePageUrl(baseUrl, pageNumber) {
                    const url = new URL(baseUrl);
                    url.searchParams.set('page', pageNumber);
                    return url.href;
                }

                const currentUrl = window.location.href;

                const firstPageNumber = 1;
                const nextPageNumber = {% if objects.has_next %}{{ objects.next_page_number }}{% else %}null{% endif %};
                
                const previousPageNumber = {% if objects.has_previous %}{{ objects.previous_page_number }}{% else %}null{% endif %};
                const lastPageNumber = {{ objects.paginator.num_pages }};

                document.getElementById('first_page').href = updatePageUrl(currentUrl, firstPageNumber);
                if (nextPageNumber) {
                    document.getElementById('next_page').href = nextPageNumber ? updatePageUrl(currentUrl, nextPageNumber) : '';
                }
                if (previousPageNumber) {
                    document.getElementById('previous_page').href = previousPageNumber ? updatePageUrl(currentUrl, previousPageNumber) : '';
                }
                document.getElementById('last_page').href = updatePageUrl(currentUrl, lastPageNumber);
            </script>
            
        </div>
        <div class="h-32"></div>
        
    </div>
{% endblock %}
