{% extends 'main/base_site.html' %}
{% load static %}
{% block content %}
<form action="" method="post" class="flex flex-col lg:w-3/12 md:w-2/5 sm:w-3/5 mx-auto items-center mb-5">
    {% csrf_token %}

    <img src="{% static 'images/image.png' %}" alt="">
    {% if msg %}
        <p class="p-2.5 bg-amber-400 text-red-600 rounded-lg">{{ msg }}</p>
    {% endif %}

    {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
            <p class="text-red-600">{{ error }}</p>
        {% endfor %}
        {% endif %}
        {% if field.field.widget.input_type == 'checkbox' %}
            <label id="{{ field.id_for_label }}" class="p-2 flex items-center">
                {{ field }}
                <span>قوانین سایت رو میپذیرم</span>
            </label>
        {% else %}
            <div class="relative-full-div">
                <label for="{{ field.id_for_label}}" class="absolute right-2 -top-5 bg-black px-2">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn-amber-full">{{ page_name }}</button>

    <hr class="border-gray-100/50 border w-full">
    {% if page_name == 'ورود' %}
    <a href="{% url 'signup' %}" class="btn-amber-full">ثبت نام</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn-amber-full">ورود</a>
    {% endif %}
</form>
{% endblock %}