{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title_page }}</title>
        <link rel="stylesheet" href="{% static 'css/main_site.css' %}">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css">
    
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css">
    
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css">
    
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css">
    
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css">
    
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css">
    </head>
<body dir="rtl" class="text-slate-100 bg-zinc-900">
    <div class="flex flex-col">
        <!-- Top menu -->
        <div class="flex justify-between px-2 py-3">
            
            <div class="hidden w-full lg:flex lg:flex-row items-center">
                <div class="md:w-1/5">
                    <img src="{% static 'images/site-icon.png' %}" alt="">
                </div>
                <ul class="flex">
                    <li class="hover:text-amber-500 mx-0.5 p-1"><a href="/">صفحه اصلی</a></li>
                    <li class="hover:text-amber-500 mx-0.5 p-1"><a href="">خرید اشتراک</a></li>
                    <li class="hover:text-amber-500 mx-0.5 p-1"><a class="{% if page_name == 'profile' %}text-amber-600{% endif %}" href="{% url 'dashboard:profile' %}">پروفایل</a></li>
                    <li class="hover:text-amber-500 mx-0.5 p-1"><a href="">پشتیبانی</a></li>
                </ul>
            </div>
            
            <a href="/" class="lg:hidden bg-zinc-900 p-3 py-2.5 self-center rounded-full">
                <i class="fa-regular fa-house"></i>
            </a>

            <img class="lg:hidden" src="{% static 'images/site-icon.png' %}" alt="">

            <!-- user info -->
            <div class="flex lg:hidden items-center mr-5 group">
                            
                <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="flex items-center" type="button">
                    Adel kh
                    <svg class="w-2.5 h-2.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                    <img class="h-11 rounded-2xl mr-3" src="{% static 'images/male.png' %}" alt="">
                </button>
                    
                <!-- Dropdown menu -->
                <div id="dropdownHover" class="hidden rounded-3xl shadow w-60 p-1 blur-d z-10">
                    <ul class="py-2 text-sm px-2" aria-labelledby="dropdownHoverButton">
                        <li>
                            <div class="flex">
                                <img class="mr-1" src="{% static 'images/сrown.png' %}" alt="" srcset="">
                                <p>اشتراک باقی مانده: <div class="flex px-0.5 mr-1 rounded-lg bg-stone-400/25"><span class="bg-green-400 text-green-700 rounded-lg ml-0.5">{{ special_time }} روز</span><a href="#" class="hover:text-amber-500">تمدید</a></div></p>
                            </div>
                        </li>
                        <hr class="mt-3">
                        <a href="">
                            <li class="my-1 py-3 pt-2 hover:bg-gray-400/20 rounded-md hover:text-amber-400">
                                <div class="flex items-center">
                                    <i class="fa-duotone fa-solid fa-grid-2 fa-lg ml-2"></i>
                                    ورود به داشبورد
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'dashboard:profile' %}">
                            <li class="my-1 py-3 pt-2 hover:bg-gray-400/20 rounded-md hover:text-amber-400">
                                <div class="flex items-center">
                                    <i class="fa-solid fa-gear fa-lg ml-2"></i>
                                    ویرایش اطلاعات
                                </div>
                            </li>
                        </a>
                        <a href="">
                            <li class="my-1 py-3 pt-2 hover:bg-gray-400/20 rounded-md hover:text-amber-400">
                                <div class="flex items-center">
                                    <i class="fa-regular fa-square-plus fa-lg ml-2"></i>
                                    در خواست فیلم/سریال
                                </div>
                            </li>
                        </a>
                        <a href="">
                            <li class="my-1 py-3 pt-2 hover:bg-gray-400/20 rounded-md hover:text-amber-400">
                                <div class="flex items-center">
                                    <i class="fa-light fa-messages-question fa-lg ml-2"></i>
                                    تیکت ها
                                </div>
                            </li>
                        </a>

                        <hr class="mt-2">

                        <a href="{% url 'logout' %}">
                            <li class="mt-1 hover:bg-gray-400/20 rounded-md hover:text-amber-400">
                                <div class="pb-2 flex items-center justify-center">
                                    <i class="fa-solid fa-arrow-right-from-bracket fa-lg ml-2"></i>
                                    خروج
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex">
            <!-- Sid menu -->
            <div class="md:w-1/5 lg:flex lg:flex-col hidden">
                <div class="h-64 flex flex-row justify-center items-center">
                    <div class="flex flex-col items-center">
                        <img class="rounded-3xl mx-auto w-24 h-24 outline outline-4 outline-offset-8 outline-amber-500 hover:outline-white transition-all duration-[400ms] ease-in-out" src="{% static 'images/male.png' %}" alt="">
                        <p class="mt-2 font-bold text-2xl">{{ request.user.get_full_name|default:request.user.username }}</p>
                        <p class="text-gray-300">{{ request.user.number.number|default:'شماره تلفن تنظیم نشده' }}</p>
                    </div>
                </div>

                <ul class="px-4">
                    <a href="" class="px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-grid-2 text-2xl ml-2"></i>
                        <p>داشبورد</p>
                    </a>
                    <a href="{% url 'dashboard:buy-subscription' %}" class="{% if page_name == 'buy subscription' %}bg-zinc-800{% endif %} px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-crown text-2xl ml-2"></i>
                        <p>خرید اشتراک {% if request.user.special_time > current_time %}<span class="bg-green-600 rounded-xl px-2 py-1.5">فعال</span>{% else %}<span class="bg-red-600 rounded-xl px-2 py-1.5">غیرفعال</span>{% endif %}</p>
                    </a>
                    <a href="{% url 'dashboard:profile' %}" class="{% if page_name == 'profile' %}bg-zinc-800{% endif %} px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-user text-2xl ml-2"></i>
                        <p>پروفایل</p>
                    </a>
                    <a href="{% url 'dashboard:history-subscription' %}" class="{% if page_name == 'history subscription' %}bg-zinc-800{% endif %} px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-regular fa-file-lines text-2xl ml-2"></i>
                        <p>سابقه خرید</p>
                    </a>
                    <a href="{% url 'dashboard:change-password' %}" class="{% if page_name == 'change password' %}bg-zinc-800{% endif %} px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-lock text-2xl ml-2"></i>
                        <p>تغییر پسورد</p>
                    </a>
                    <a href="" class="px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-bullhorn text-2xl ml-2"></i>
                        <p>درخواست فیلم و سریال</p>
                    </a>
                    <a href="" class="px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-comment text-2xl ml-2"></i>
                        <p>تیکت و پشتیابنی</p>
                    </a>
                    <a href="{% url 'logout' %}" class="px-2 p-5 my-1 rounded-xl flex items-center hover:bg-zinc-800 transition-all duration-[400ms]">
                        <i class="fa-light fa-rigth-from-bracket text-2xl ml-2"></i>
                        <p>خروج</p>
                    </a>
                </ul>
            </div>
            
            {% block content %} {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/flowbite.min.js.js' %}"></script>
</body>
</html>