{% extends 'user/base_panel.html' %}
{% block content %}
            <!-- Content page -->
            <duv class="lg:w-4/5 w-full  bg-black rounded-tr-[50px]">
                <div class="flex justify-between px-4 my-3">
                    <p>خوش آمدید<span class="mx-1 text-green-500">{{ request.user }}</span>عزیز</p>
                    <div class="flex">
                        <i class="fa-light fa-calendar-days ml-1"></i>
                        <p class="text-sm">{{ current_time|date:'l H:i:s Y/m/s' }}</p>
                    </div>
                </div>

                <div class="mt-2 p-5 relative">
                    <div class="p-5 mb-3 flex justify-between text-center rounded-3xl border-2 border-green-700">
                        <div class="flex">
                            <p>اشتراک ویژه: {% if request.user.special_time > current_time %}<span class="text-green-500">(فعال است)</span>{% else %}<span class="text-red-600">(غیرفعال است)</span>{% endif %}</p>
                        </div>
                        <p>{% if request.user.special_time > current_time %}تاریخ انقضا: {{ request.user.special_time|date:'Y/m/d' }} {% endif%}</p>
                    </div>
                    <div class="p-5 bg-red-700 text-center rounded-3xl">
                        فعالسازی اشتراک ممکن است تا 10 دقیقه زمان ببرد.
                    </div>
                    <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-3 p-5 bg-zinc-900/80 rounded-xl mt-4">
                        {% for pakage in pakages %}
                        <div class="flex flex-col items-center bg-gray-900 rounded-xl p-3">
                            <img class="h-36 rounded-lg my-4" src="{% if pakage.image %}{{ pakage.image.url }}{% endif %}" alt="">
                            <p>{{ pakage.description }}</p>
                            <span class="text-3xl p-2 bg-gray-200/20 rounded-full"><span class="text-amber-500">{{ pakage.dates }}</span> روزه</span>
                            <span class="text-xl mb-4"><span class="text-amber-500">{{ pakage.price }}</span> تومان</span>
                            <a class="border border-amber-400 rounded-full w-full text-center py-2 hover:bg-amber-500 mb-3" href="?pakage={{pakage.id}}">خرید</a>
                        </div>
                        {% endfor %}
                    </div>
                    {% if msg == 'success' %}
                    <div id="success-buy" class="absolute top-48 md:top-1/2 right-1/2 translate-x-1/2 translate-y-1/2 lg:w-2/5 xl:w-2/6 sm:w-2/5 w-4/5
                     rounded-xl  bg-zinc-800 p-5 border-red-600 border">
                        <p class="text-green-600">خرید موفقیت امیز بود</p>
                        <p class="text-green-600">{{ daytes }}</p>
                        <button class="p-2 bg-red-600 rounded-lg mt-2 border-red-800 border hover:bg-red-700" onclick="document.getElementById('success-buy').classList.add('hidden')">بستن پنجره</button>
                    </div>
                    {% endif %}
                </div>
                <script>
                    const url = new URL(window.location);
                    url.searchParams.delete('pakage')
                    window.history.replaceState({}, document.title, url)
                </script>
            </duv>
{% endblock %}