{% extends 'user/base_panel.html' %}
{% load static %}
{% block content %}
<duv class="lg:w-4/5 w-full  bg-black rounded-tr-[50px]">
    <div class="flex justify-between px-4 my-3">
        <p class="font-bold text-xl">تغییر پسورد<span class="text-sm pr-2">(همه فیلد ها را پر کنید.)</span></p>
        <p></p>
    </div>
    
    <form method="post" class="mt-2 p-5 form-control-setting mx-auto">
        {% csrf_token %}
        <div>
            <div class="inline md:flex justify-center">
                <div class="w-full mx-2 mt-3">
                    <label for="last_password" class="mr-3 ">پسورد قبلی</label><!-- mt-3 -->
                    <div class="bg-zinc-900/80 mt-1 w-full rounded-xl p-5 flex">
                        <i class="fa-light fa-lock text-2xl ml-5"></i>
                        <input type="password" required id="last_password" name="last_password" placeholder="" class="bg-zinc-900/0 outline-none w-full">
                    </div>
                    {% if msg %}
                    <p class="inline bg-red-800 px-2 py-1 rounded-lg">{{ msg }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="inline md:flex justify-center">
                <div class="w-full mx-2 mt-3">
                    <label for="password1" class="mr-3 ">پسورد جدید</label><!-- mt-3 -->
                    <div class="bg-zinc-900/80 mt-1 w-full rounded-xl p-5 flex">
                        <i class="fa-light fa-lock text-2xl ml-5"></i>
                        <input type="password" required id="password1" name="password1" placeholder="" class="bg-zinc-900/0 outline-none w-full">
                    </div>
                </div>
                <div class="w-full mx-2 mt-3">
                    <label for="password2" class="mr-3 ">تکرار پسورد جدید</label><!-- mt-3 -->
                    <div class="bg-zinc-900/80 mt-1 w-full rounded-xl p-5 flex">
                        <i class="fa-light fa-lock text-2xl ml-5"></i>
                        <input type="password" required id="password2" name="password2" placeholder="" class="bg-zinc-900/0 outline-none w-full">
                    </div>
                </div>
            </div>
        </div>

        <button class="p-3 rounded-lg bg-amber-500 m-2" type="submit">ذخیره</button>

        <script>
            function choice_radio(selected) {
                const radios = document.querySelectorAll('[name="gender"]');
                radios.forEach((radio) => {
                    var t = radio.classList.remove('radio-selected');
                    console.log(radio, t)
                })
                document.getElementById(selected).classList.add('radio-selected')
            }
        </script>
    </form>
</duv>
{% endblock %}