{% extends 'user/base_panel.html' %}
{% load static %}
{% block content %}
<duv class="lg:w-4/5 w-full  bg-black rounded-tr-[50px]">
    <div class="flex justify-between px-4 my-3">
        <p class="font-bold text-xl">ویرایش اطلاعات کاربری<span class="text-sm pr-2">(اطلاعات خود را ویرایش یا تکمیل کنید.)</span></p>
        <p></p>
    </div>
    
    <form method="post" class="mt-2 p-5 form-control-setting mx-auto">
        <div>
            {% csrf_token %}
            {% for field in user_form %}
                {% if forloop.counter|divisibleby:'2' == 0 %}
                    <div class="inline md:flex justify-center">
                        {% include 'components/profile-input.html' %}
                {% else %}
                        {% include 'components/profile-input.html' %}
                    </div>
                {% endif %}
            {% endfor %}
            {% include 'components/profile-input.html' with field=phone_form.number %}
        </div>

        <button class="p-3 rounded-lg bg-amber-500 m-2" type="submit">ذخیره</button>

        <script>
            function choice_radio(selected) {
                const radios = document.querySelectorAll('[name="gender"]');
                radios.forEach((radio) => {
                    var t = radio.classList.remove('radio-selected');
                    console.log(radio, t)
                })
                document.getElementById(selected).classList.add('radio-selected')
            }
        </script>
    </form>
</duv>
{% endblock %}